.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal h7 {
    font-family: 'Volkhov', serif; !important
}

/* .reveal section { */
/*     border: 1px solid green; */
/* } */

/* .reveal code, */
/* .reveal code > span, */
.reveal section pre {
    font-size: 0.80em;
    line-height: 1.1em;
    vertical-align: middle;
    max-height: 75%;
}

/*********************
 *  Code
 *********************/

/* .reveal pre.sourceCode.left { */
/*     display: inline-block; */
/*     min-width: 49%; */
/*     float: left; */
/* } */

/* .reveal pre.sourceCode.right { */
/*     display: inline-block; */
/*     min-width: 49%; */
/*     float: right; */
/* } */

.reveal div.sourceCode {
    display: inline-block;
    min-width: 75%;
    /* max-width: 100%; */
}

.reveal pre {
    box-shadow: none;
    width: 100%;
}

.reveal pre code {
    max-height: 75%;
    max-width: 100%;
}

/* .reveal table.sourceCode { */
/*     max-width: 95%; */
/*     min-width: 70%; */
/* } */

.reveal div.sourceCode table.sourceCode tr.sourceCode td.lineNumbers pre {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
}

.reveal div.sourceCode table.sourceCode tr.sourceCode td.sourceCode pre {
    box-shadow: none;
    margin-left: 0;
    padding-left: 0;
}

/*********************
 *  Footnotes
 *********************/

.reveal .footnote {
    position: absolute;
    font-size: medium;
    right: 0px;
    bottom: -2em;
}

/*********************
 *  Block Quotes
 *********************/

.reveal section blockquote {
    background-color: #ccc;
    text-align: left;
    border-left: 0.4em solid #a9a9a9;
    /* margin: 1.5em 10px; */
    padding: 0.5em 2em;
    /* width: 85%; */
    /* display: inline-block; */
    border-radius: 20px;
    quotes: "\201C""\201D";
}

.reveal section blockquote:before {
    /* background-color: #a9a9a9; */
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.reveal section blockquote p:first-child,
.reveal section blockquote p:last-child,
.reveal section blockquote p {
    /* background-color: #ccc; */
    display: inline;
}
